.matches-container{
    width: 100%;
    height: 150px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.matches-container::-webkit-scrollbar{
    display: none;
}


.matches{
    width: auto;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 15px;
    box-shadow: 0 0 3px 3px gray;
}

.fixtures{
    width: 300px;
    height: 100%;
    border: 1px solid green;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px;
    background-color: green;
    cursor: pointer;

}

.league-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-title > span{
    font-size: 14px;
    color: white;
}

.league-fixture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.club-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.club-logo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.club-logo > span {
    color: white;
    font-size: 14px;
}

.club{
    width:45%;
    height: 45%;
    overflow: hidden;
    border-radius: 100%;
    background-color: transparent;
}

.club > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.club-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: white;
    opacity: 0.6;
}

.league-odds{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.odds{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-inline-start: 3px;
    background: lightgreen;
}

